{% extends 'registration/login_base.html' %}
{% load static %}
{% block content %}
<div class="contenedor" style="margin: 0 auto;">
    <h1>Regístrate</h1>
    <form method="POST">
        {% csrf_token %}
        <span>{{ user_form.username.label_tag }}</span>
        <span class="input">{{ user_form.username }}</span>
        <span class="error">{{ user_form.username.errors }}</span>
        <br>
        <span>Nombre real</span>
        <span class="input">{{ cliente_form.nombre }}</span>
        <br>
        <span>DNI</span>
        <span class="input">{{ cliente_form.dni }}</span>
        <span class="error">{{ cliente_form.dni_error }}</span>
        <br>
        <span>{{ user_form.password1.label_tag }}</span>
        <span class="input" style="width: 310px">{{ user_form.password1 }}<i class="fa fa-eye show"></i><i class="fa fa-eye-slash hide"></i></span>
        <p class="error"></p>
        <br>
        <span>{{ user_form.password2.label_tag }}</span>
        <span class="input">{{ user_form.password2 }}</span>
        {% if user_form.errors %}
            <span class="error">{{ user_form.error_messages }}</span>
        {% endif %}
        <input class="iniciar" type="submit" value="Ingresar"/>
        <a class="iniciar" href="{% url 'inicio' %}">Volver</a>
    </form>
    <script>
        $(document).ready(function(){
            $('.show').hide();
        });

        $('.hide').on('click',function(){
            $('.hide').hide();
            $('.show').show();
            $('#id_password1').attr('type','text');
        });

        $('.show').on('click',function(){
            $('.show').hide();
            $('.hide').show();
            $('#id_password1').attr('type','password');
        });

        var pw = $('#id_password1');
        pw.on('blur',function(){
            if (pw.val().length < 8){
                $('p').text('Su contraseña debe tener minimo 8 carácteres')
            } else if ($.isNumeric(pw.val())){
                $('p').text('Su contraseña no puede ser completamente numérica')
            } else {
                $('p').text('')
            }
        })
    </script>
</div>
{% endblock %}
