    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">
        @import url('https://themes.googleusercontent.com/fonts/css?kit=ztT_GTf15fe-sbmtLzN1xCK9CNosbdI7Ly5GpTtAC0V-ryDHgIWwDp7nBsZIMw071QE5HbRzr0aNj7tmOs10-g');
        .lst-kix_c4m6uh8y8h52-4>li:before {
            content: "o  "
        }

        .lst-kix_6c1a70qryfcf-6>li:before {
            content: "" counter(lst-ctn-kix_6c1a70qryfcf-6, decimal) ". "
        }

        .lst-kix_6c1a70qryfcf-7>li:before {
            content: "" counter(lst-ctn-kix_6c1a70qryfcf-7, lower-latin) ". "
        }

        .lst-kix_c4m6uh8y8h52-3>li:before {
            content: "\0025cf  "
        }

        .lst-kix_c4m6uh8y8h52-5>li:before {
            content: "\0025aa  "
        }

        .lst-kix_c4m6uh8y8h52-2>li:before {
            content: "\0025aa  "
        }

        .lst-kix_c4m6uh8y8h52-6>li:before {
            content: "\0025cf  "
        }

        .lst-kix_6c1a70qryfcf-5>li:before {
            content: "" counter(lst-ctn-kix_6c1a70qryfcf-5, lower-roman) ". "
        }

        .lst-kix_c4m6uh8y8h52-8>li:before {
            content: "\0025aa  "
        }

        .lst-kix_6c1a70qryfcf-2>li:before {
            content: "" counter(lst-ctn-kix_6c1a70qryfcf-2, lower-roman) ". "
        }

        .lst-kix_6c1a70qryfcf-3>li:before {
            content: "" counter(lst-ctn-kix_6c1a70qryfcf-3, decimal) ". "
        }

        .lst-kix_c4m6uh8y8h52-0>li:before {
            content: "\0025cf  "
        }

        .lst-kix_c4m6uh8y8h52-1>li:before {
            content: "o  "
        }

        .lst-kix_c4m6uh8y8h52-7>li:before {
            content: "o  "
        }

        .lst-kix_4yitvg6is1o9-4>li {
            counter-increment: lst-ctn-kix_4yitvg6is1o9-4
        }

        .lst-kix_6c1a70qryfcf-4>li:before {
            content: "" counter(lst-ctn-kix_6c1a70qryfcf-4, lower-latin) ". "
        }

        ol.lst-kix_4yitvg6is1o9-7.start {
            counter-reset: lst-ctn-kix_4yitvg6is1o9-7 0
        }

        .lst-kix_6c1a70qryfcf-1>li:before {
            content: "" counter(lst-ctn-kix_6c1a70qryfcf-1, lower-latin) ". "
        }

        ol.lst-kix_4yitvg6is1o9-1.start {
            counter-reset: lst-ctn-kix_4yitvg6is1o9-1 0
        }

        ol.lst-kix_6c1a70qryfcf-8.start {
            counter-reset: lst-ctn-kix_6c1a70qryfcf-8 0
        }

        .lst-kix_6c1a70qryfcf-0>li {
            counter-increment: lst-ctn-kix_6c1a70qryfcf-0
        }

        .lst-kix_6c1a70qryfcf-0>li:before {
            content: "" counter(lst-ctn-kix_6c1a70qryfcf-0, decimal) ". "
        }

        ul.lst-kix_jwtwh8b7mpye-4 {
            list-style-type: none
        }

        ul.lst-kix_jwtwh8b7mpye-3 {
            list-style-type: none
        }

        ul.lst-kix_jwtwh8b7mpye-2 {
            list-style-type: none
        }

        ul.lst-kix_jwtwh8b7mpye-1 {
            list-style-type: none
        }

        ul.lst-kix_jwtwh8b7mpye-0 {
            list-style-type: none
        }

        .lst-kix_4yitvg6is1o9-6>li {
            counter-increment: lst-ctn-kix_4yitvg6is1o9-6
        }

        ul.lst-kix_jwtwh8b7mpye-8 {
            list-style-type: none
        }

        ul.lst-kix_jwtwh8b7mpye-7 {
            list-style-type: none
        }

        ul.lst-kix_jwtwh8b7mpye-6 {
            list-style-type: none
        }

        ul.lst-kix_jwtwh8b7mpye-5 {
            list-style-type: none
        }

        ul.lst-kix_r61t4t3blnst-4 {
            list-style-type: none
        }

        ul.lst-kix_r61t4t3blnst-5 {
            list-style-type: none
        }

        ul.lst-kix_r61t4t3blnst-6 {
            list-style-type: none
        }

        ul.lst-kix_r61t4t3blnst-7 {
            list-style-type: none
        }

        ul.lst-kix_r61t4t3blnst-0 {
            list-style-type: none
        }

        .lst-kix_6c1a70qryfcf-8>li:before {
            content: "" counter(lst-ctn-kix_6c1a70qryfcf-8, lower-roman) ". "
        }

        ul.lst-kix_r61t4t3blnst-1 {
            list-style-type: none
        }

        ul.lst-kix_r61t4t3blnst-2 {
            list-style-type: none
        }

        ul.lst-kix_r61t4t3blnst-3 {
            list-style-type: none
        }

        ol.lst-kix_6c1a70qryfcf-8 {
            list-style-type: none
        }

        ul.lst-kix_r61t4t3blnst-8 {
            list-style-type: none
        }

        .lst-kix_6c1a70qryfcf-2>li {
            counter-increment: lst-ctn-kix_6c1a70qryfcf-2
        }

        ol.lst-kix_6c1a70qryfcf-0 {
            list-style-type: none
        }

        ol.lst-kix_4yitvg6is1o9-2.start {
            counter-reset: lst-ctn-kix_4yitvg6is1o9-2 0
        }

        ol.lst-kix_6c1a70qryfcf-1 {
            list-style-type: none
        }

        ol.lst-kix_6c1a70qryfcf-2 {
            list-style-type: none
        }

        ol.lst-kix_6c1a70qryfcf-3 {
            list-style-type: none
        }

        .lst-kix_ifhj0adsajd0-0>li:before {
            content: "\0025cf  "
        }

        ol.lst-kix_6c1a70qryfcf-4 {
            list-style-type: none
        }

        ol.lst-kix_6c1a70qryfcf-5 {
            list-style-type: none
        }

        ol.lst-kix_6c1a70qryfcf-6 {
            list-style-type: none
        }

        ol.lst-kix_6c1a70qryfcf-7 {
            list-style-type: none
        }

        .lst-kix_6ju7bwupoehe-0>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_ifhj0adsajd0-6 {
            list-style-type: none
        }

        ul.lst-kix_ifhj0adsajd0-5 {
            list-style-type: none
        }

        ul.lst-kix_ifhj0adsajd0-8 {
            list-style-type: none
        }

        .lst-kix_ifhj0adsajd0-2>li:before {
            content: "\0025a0  "
        }

        .lst-kix_ifhj0adsajd0-4>li:before {
            content: "\0025cb  "
        }

        ul.lst-kix_ifhj0adsajd0-7 {
            list-style-type: none
        }

        .lst-kix_6ju7bwupoehe-2>li:before {
            content: "\0025a0  "
        }

        .lst-kix_6ju7bwupoehe-1>li:before {
            content: "\0025cb  "
        }

        .lst-kix_ifhj0adsajd0-1>li:before {
            content: "\0025cb  "
        }

        .lst-kix_ifhj0adsajd0-5>li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_ifhj0adsajd0-0 {
            list-style-type: none
        }

        ul.lst-kix_ifhj0adsajd0-2 {
            list-style-type: none
        }

        ul.lst-kix_ifhj0adsajd0-1 {
            list-style-type: none
        }

        ul.lst-kix_ifhj0adsajd0-4 {
            list-style-type: none
        }

        .lst-kix_ifhj0adsajd0-3>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_ifhj0adsajd0-3 {
            list-style-type: none
        }

        .lst-kix_6ju7bwupoehe-8>li:before {
            content: "\0025a0  "
        }

        .lst-kix_6ju7bwupoehe-6>li:before {
            content: "\0025cf  "
        }

        .lst-kix_6ju7bwupoehe-5>li:before {
            content: "\0025a0  "
        }

        .lst-kix_6ju7bwupoehe-4>li:before {
            content: "\0025cb  "
        }

        .lst-kix_ifhj0adsajd0-6>li:before {
            content: "\0025cf  "
        }

        .lst-kix_ifhj0adsajd0-8>li:before {
            content: "\0025a0  "
        }

        .lst-kix_6ju7bwupoehe-3>li:before {
            content: "\0025cf  "
        }

        .lst-kix_ifhj0adsajd0-7>li:before {
            content: "\0025cb  "
        }

        ol.lst-kix_4yitvg6is1o9-6 {
            list-style-type: none
        }

        ol.lst-kix_4yitvg6is1o9-5 {
            list-style-type: none
        }

        ol.lst-kix_4yitvg6is1o9-4 {
            list-style-type: none
        }

        ol.lst-kix_4yitvg6is1o9-3 {
            list-style-type: none
        }

        ol.lst-kix_4yitvg6is1o9-8 {
            list-style-type: none
        }

        ol.lst-kix_4yitvg6is1o9-7 {
            list-style-type: none
        }

        .lst-kix_6c1a70qryfcf-5>li {
            counter-increment: lst-ctn-kix_6c1a70qryfcf-5
        }

        ol.lst-kix_4yitvg6is1o9-8.start {
            counter-reset: lst-ctn-kix_4yitvg6is1o9-8 0
        }

        ol.lst-kix_4yitvg6is1o9-2 {
            list-style-type: none
        }

        ol.lst-kix_4yitvg6is1o9-1 {
            list-style-type: none
        }

        .lst-kix_6ju7bwupoehe-7>li:before {
            content: "\0025cb  "
        }

        .lst-kix_3cm5343jz4qt-2>li:before {
            content: "\0025a0  "
        }

        ol.lst-kix_4yitvg6is1o9-0 {
            list-style-type: none
        }

        .lst-kix_3cm5343jz4qt-1>li:before {
            content: "\0025cb  "
        }

        .lst-kix_3cm5343jz4qt-4>li:before {
            content: "\0025cb  "
        }

        .lst-kix_nlqvcqjrwb8e-3>li:before {
            content: "\0025cf  "
        }

        .lst-kix_nlqvcqjrwb8e-5>li:before {
            content: "\0025a0  "
        }

        .lst-kix_jwtwh8b7mpye-8>li:before {
            content: "\0025a0  "
        }

        .lst-kix_3cm5343jz4qt-6>li:before {
            content: "\0025cf  "
        }

        .lst-kix_jwtwh8b7mpye-2>li:before {
            content: "\0025a0  "
        }

        .lst-kix_jwtwh8b7mpye-6>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_6ju7bwupoehe-8 {
            list-style-type: none
        }

        .lst-kix_3cm5343jz4qt-8>li:before {
            content: "\0025a0  "
        }

        .lst-kix_nlqvcqjrwb8e-7>li:before {
            content: "\0025cb  "
        }

        .lst-kix_jwtwh8b7mpye-4>li:before {
            content: "\0025cb  "
        }

        ul.lst-kix_nlqvcqjrwb8e-7 {
            list-style-type: none
        }

        ul.lst-kix_nlqvcqjrwb8e-6 {
            list-style-type: none
        }

        ul.lst-kix_nlqvcqjrwb8e-5 {
            list-style-type: none
        }

        ul.lst-kix_nlqvcqjrwb8e-4 {
            list-style-type: none
        }

        .lst-kix_6c1a70qryfcf-6>li {
            counter-increment: lst-ctn-kix_6c1a70qryfcf-6
        }

        ul.lst-kix_nlqvcqjrwb8e-3 {
            list-style-type: none
        }

        ul.lst-kix_nlqvcqjrwb8e-2 {
            list-style-type: none
        }

        ul.lst-kix_nlqvcqjrwb8e-1 {
            list-style-type: none
        }

        ul.lst-kix_nlqvcqjrwb8e-0 {
            list-style-type: none
        }

        ol.lst-kix_6c1a70qryfcf-1.start {
            counter-reset: lst-ctn-kix_6c1a70qryfcf-1 0
        }

        ol.lst-kix_6c1a70qryfcf-4.start {
            counter-reset: lst-ctn-kix_6c1a70qryfcf-4 0
        }

        ul.lst-kix_nlqvcqjrwb8e-8 {
            list-style-type: none
        }

        ol.lst-kix_4yitvg6is1o9-0.start {
            counter-reset: lst-ctn-kix_4yitvg6is1o9-0 0
        }

        .lst-kix_4yitvg6is1o9-2>li {
            counter-increment: lst-ctn-kix_4yitvg6is1o9-2
        }

        .lst-kix_4yitvg6is1o9-8>li {
            counter-increment: lst-ctn-kix_4yitvg6is1o9-8
        }

        .lst-kix_6c1a70qryfcf-7>li {
            counter-increment: lst-ctn-kix_6c1a70qryfcf-7
        }

        ol.lst-kix_6c1a70qryfcf-3.start {
            counter-reset: lst-ctn-kix_6c1a70qryfcf-3 0
        }

        .lst-kix_jwtwh8b7mpye-0>li:before {
            content: "\0025cf  "
        }

        ol.lst-kix_6c1a70qryfcf-2.start {
            counter-reset: lst-ctn-kix_6c1a70qryfcf-2 0
        }

        ol.lst-kix_6c1a70qryfcf-5.start {
            counter-reset: lst-ctn-kix_6c1a70qryfcf-5 0
        }

        ol.lst-kix_4yitvg6is1o9-4.start {
            counter-reset: lst-ctn-kix_4yitvg6is1o9-4 0
        }

        .lst-kix_4yitvg6is1o9-5>li {
            counter-increment: lst-ctn-kix_4yitvg6is1o9-5
        }

        .lst-kix_4yitvg6is1o9-7>li:before {
            content: "" counter(lst-ctn-kix_4yitvg6is1o9-7, lower-latin) ". "
        }

        .lst-kix_4yitvg6is1o9-6>li:before {
            content: "" counter(lst-ctn-kix_4yitvg6is1o9-6, decimal) ". "
        }

        .lst-kix_4yitvg6is1o9-8>li:before {
            content: "" counter(lst-ctn-kix_4yitvg6is1o9-8, lower-roman) ". "
        }

        .lst-kix_r61t4t3blnst-1>li:before {
            content: "\0025cb  "
        }

        .lst-kix_r61t4t3blnst-3>li:before {
            content: "\0025cf  "
        }

        .lst-kix_4yitvg6is1o9-3>li {
            counter-increment: lst-ctn-kix_4yitvg6is1o9-3
        }

        .lst-kix_r61t4t3blnst-2>li:before {
            content: "\0025a0  "
        }

        .lst-kix_r61t4t3blnst-7>li:before {
            content: "\0025cb  "
        }

        .lst-kix_r61t4t3blnst-0>li:before {
            content: "\0025cf  "
        }

        .lst-kix_r61t4t3blnst-8>li:before {
            content: "\0025a0  "
        }

        .lst-kix_6c1a70qryfcf-1>li {
            counter-increment: lst-ctn-kix_6c1a70qryfcf-1
        }

        .lst-kix_r61t4t3blnst-6>li:before {
            content: "\0025cf  "
        }

        .lst-kix_r61t4t3blnst-5>li:before {
            content: "\0025a0  "
        }

        .lst-kix_r61t4t3blnst-4>li:before {
            content: "\0025cb  "
        }

        .lst-kix_bmwwsy15e3pr-1>li:before {
            content: "\0025cb  "
        }

        .lst-kix_bmwwsy15e3pr-3>li:before {
            content: "\0025cf  "
        }

        .lst-kix_4yitvg6is1o9-7>li {
            counter-increment: lst-ctn-kix_4yitvg6is1o9-7
        }

        .lst-kix_bmwwsy15e3pr-0>li:before {
            content: "\0025cf  "
        }

        .lst-kix_bmwwsy15e3pr-4>li:before {
            content: "\0025cb  "
        }

        .lst-kix_4yitvg6is1o9-1>li {
            counter-increment: lst-ctn-kix_4yitvg6is1o9-1
        }

        ol.lst-kix_6c1a70qryfcf-0.start {
            counter-reset: lst-ctn-kix_6c1a70qryfcf-0 0
        }

        .lst-kix_bmwwsy15e3pr-2>li:before {
            content: "\0025a0  "
        }

        .lst-kix_4yitvg6is1o9-0>li:before {
            content: "" counter(lst-ctn-kix_4yitvg6is1o9-0, decimal) ". "
        }

        ol.lst-kix_6c1a70qryfcf-6.start {
            counter-reset: lst-ctn-kix_6c1a70qryfcf-6 0
        }

        ul.lst-kix_6ju7bwupoehe-6 {
            list-style-type: none
        }

        ul.lst-kix_6ju7bwupoehe-7 {
            list-style-type: none
        }

        ul.lst-kix_6ju7bwupoehe-4 {
            list-style-type: none
        }

        .lst-kix_4yitvg6is1o9-4>li:before {
            content: "" counter(lst-ctn-kix_4yitvg6is1o9-4, lower-latin) ". "
        }

        ul.lst-kix_6ju7bwupoehe-5 {
            list-style-type: none
        }

        ul.lst-kix_6ju7bwupoehe-2 {
            list-style-type: none
        }

        .lst-kix_4yitvg6is1o9-5>li:before {
            content: "" counter(lst-ctn-kix_4yitvg6is1o9-5, lower-roman) ". "
        }

        ul.lst-kix_6ju7bwupoehe-3 {
            list-style-type: none
        }

        ul.lst-kix_6ju7bwupoehe-0 {
            list-style-type: none
        }

        ul.lst-kix_6ju7bwupoehe-1 {
            list-style-type: none
        }

        .lst-kix_bmwwsy15e3pr-8>li:before {
            content: "\0025a0  "
        }

        .lst-kix_6c1a70qryfcf-8>li {
            counter-increment: lst-ctn-kix_6c1a70qryfcf-8
        }

        .lst-kix_4yitvg6is1o9-3>li:before {
            content: "" counter(lst-ctn-kix_4yitvg6is1o9-3, decimal) ". "
        }

        .lst-kix_4yitvg6is1o9-2>li:before {
            content: "" counter(lst-ctn-kix_4yitvg6is1o9-2, lower-roman) ". "
        }

        .lst-kix_bmwwsy15e3pr-5>li:before {
            content: "\0025a0  "
        }

        .lst-kix_bmwwsy15e3pr-7>li:before {
            content: "\0025cb  "
        }

        .lst-kix_nlqvcqjrwb8e-0>li:before {
            content: "\0025cf  "
        }

        .lst-kix_4yitvg6is1o9-1>li:before {
            content: "" counter(lst-ctn-kix_4yitvg6is1o9-1, lower-latin) ". "
        }

        .lst-kix_bmwwsy15e3pr-6>li:before {
            content: "\0025cf  "
        }

        .lst-kix_nlqvcqjrwb8e-1>li:before {
            content: "\0025cb  "
        }

        ul.lst-kix_bmwwsy15e3pr-7 {
            list-style-type: none
        }

        ul.lst-kix_bmwwsy15e3pr-6 {
            list-style-type: none
        }

        ul.lst-kix_bmwwsy15e3pr-5 {
            list-style-type: none
        }

        ul.lst-kix_bmwwsy15e3pr-4 {
            list-style-type: none
        }

        .lst-kix_nlqvcqjrwb8e-2>li:before {
            content: "\0025a0  "
        }

        .lst-kix_nlqvcqjrwb8e-4>li:before {
            content: "\0025cb  "
        }

        .lst-kix_3cm5343jz4qt-3>li:before {
            content: "\0025cf  "
        }

        .lst-kix_3cm5343jz4qt-0>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_bmwwsy15e3pr-8 {
            list-style-type: none
        }

        .lst-kix_3cm5343jz4qt-5>li:before {
            content: "\0025a0  "
        }

        .lst-kix_nlqvcqjrwb8e-6>li:before {
            content: "\0025cf  "
        }

        ul.lst-kix_bmwwsy15e3pr-3 {
            list-style-type: none
        }

        ul.lst-kix_bmwwsy15e3pr-2 {
            list-style-type: none
        }

        ul.lst-kix_bmwwsy15e3pr-1 {
            list-style-type: none
        }

        ul.lst-kix_bmwwsy15e3pr-0 {
            list-style-type: none
        }

        .lst-kix_jwtwh8b7mpye-5>li:before {
            content: "\0025a0  "
        }

        .lst-kix_6c1a70qryfcf-4>li {
            counter-increment: lst-ctn-kix_6c1a70qryfcf-4
        }

        .lst-kix_jwtwh8b7mpye-3>li:before {
            content: "\0025cf  "
        }

        .lst-kix_jwtwh8b7mpye-7>li:before {
            content: "\0025cb  "
        }

        .lst-kix_3cm5343jz4qt-7>li:before {
            content: "\0025cb  "
        }

        .lst-kix_nlqvcqjrwb8e-8>li:before {
            content: "\0025a0  "
        }

        ul.lst-kix_3cm5343jz4qt-5 {
            list-style-type: none
        }

        ul.lst-kix_3cm5343jz4qt-4 {
            list-style-type: none
        }

        ul.lst-kix_3cm5343jz4qt-7 {
            list-style-type: none
        }

        ul.lst-kix_3cm5343jz4qt-6 {
            list-style-type: none
        }

        .lst-kix_6c1a70qryfcf-3>li {
            counter-increment: lst-ctn-kix_6c1a70qryfcf-3
        }

        ul.lst-kix_3cm5343jz4qt-8 {
            list-style-type: none
        }

        ol.lst-kix_4yitvg6is1o9-3.start {
            counter-reset: lst-ctn-kix_4yitvg6is1o9-3 0
        }

        ul.lst-kix_3cm5343jz4qt-1 {
            list-style-type: none
        }

        ul.lst-kix_3cm5343jz4qt-0 {
            list-style-type: none
        }

        .lst-kix_4yitvg6is1o9-0>li {
            counter-increment: lst-ctn-kix_4yitvg6is1o9-0
        }

        ul.lst-kix_3cm5343jz4qt-3 {
            list-style-type: none
        }

        ol.lst-kix_6c1a70qryfcf-7.start {
            counter-reset: lst-ctn-kix_6c1a70qryfcf-7 0
        }

        ul.lst-kix_3cm5343jz4qt-2 {
            list-style-type: none
        }

        ul.lst-kix_c4m6uh8y8h52-5 {
            list-style-type: none
        }

        ul.lst-kix_c4m6uh8y8h52-4 {
            list-style-type: none
        }

        ul.lst-kix_c4m6uh8y8h52-3 {
            list-style-type: none
        }

        ul.lst-kix_c4m6uh8y8h52-2 {
            list-style-type: none
        }

        ul.lst-kix_c4m6uh8y8h52-1 {
            list-style-type: none
        }

        ul.lst-kix_c4m6uh8y8h52-0 {
            list-style-type: none
        }

        ol.lst-kix_4yitvg6is1o9-6.start {
            counter-reset: lst-ctn-kix_4yitvg6is1o9-6 0
        }

        .lst-kix_jwtwh8b7mpye-1>li:before {
            content: "\0025cb  "
        }

        ul.lst-kix_c4m6uh8y8h52-8 {
            list-style-type: none
        }

        ul.lst-kix_c4m6uh8y8h52-7 {
            list-style-type: none
        }

        ul.lst-kix_c4m6uh8y8h52-6 {
            list-style-type: none
        }

        ol.lst-kix_4yitvg6is1o9-5.start {
            counter-reset: lst-ctn-kix_4yitvg6is1o9-5 0
        }

        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c24 {
            margin-left: 36pt;
            padding-top: 12pt;
            padding-left: 0pt;
            padding-bottom: 12pt;
            line-height: 1.4;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c46 {
            margin-left: -72pt;
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: center;
            margin-right: -72pt
        }

        .c3 {
            color: #666666;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Roboto";
            font-style: normal
        }

        .c18 {
            margin-left: -0.8pt;
            padding-top: 10pt;
            padding-bottom: 0pt;
            line-height: 1.4;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c0 {
            margin-left: -0.8pt;
            padding-top: 10pt;
            padding-bottom: 0pt;
            line-height: 1.4;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c12 {
            padding-top: 70pt;
            padding-bottom: 0pt;
            line-height: 1.3;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 11pt
        }

        .c16 {
            margin-left: -0.8pt;
            padding-top: 24pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c42 {
            margin-left: 36pt;
            padding-top: 3pt;
            padding-bottom: 4pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c15 {
            margin-left: 36pt;
            padding-top: 3pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c7 {
            color: #283592;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 34pt;
            font-family: "Roboto";
            font-style: normal
        }

        .c38 {
            padding-top: 8pt;
            padding-bottom: 0pt;
            line-height: 1.4;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c45 {
            margin-left: 18pt;
            padding-top: 3pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c43 {
            margin-left: 18pt;
            padding-top: 4pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c2 {
            color: #666666;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Trebuchet MS";
            font-style: normal
        }

        .c9 {
            color: #666666;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Roboto";
            font-style: normal
        }

        .c23 {
            margin-left: 72pt;
            padding-top: 3pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c6 {
            color: #e01b84;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 12pt;
            font-family: "Roboto";
            font-style: normal
        }

        .c26 {
            color: #000000;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 18pt;
            font-family: "Roboto";
            font-style: normal
        }

        .c50 {
            color: #424242;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Source Code Pro";
            font-style: normal
        }

        .c28 {
            color: #424242;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 36pt;
            font-family: "Oswald";
            font-style: normal
        }

        .c20 {
            padding-top: 10pt;
            padding-bottom: 0pt;
            line-height: 1.4;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c29 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: right
        }

        .c5 {
            color: #666666;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Roboto";
            font-style: normal
        }

        .c37 {
            color: #6d64e8;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Roboto";
            font-style: normal
        }

        .c11 {
            padding-top: 10pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c52 {
            padding-top: 10pt;
            padding-bottom: 0pt;
            line-height: 1.3;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c39 {
            padding-top: 20pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c8 {
            padding-top: 10pt;
            padding-bottom: 0pt;
            line-height: 1.4;
            orphans: 2;
            widows: 2;
            text-align: right
        }

        .c33 {
            color: #e31c60;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 52pt;
            font-family: "Oswald";
            font-style: normal
        }

        .c34 {
            color: #6d64e8;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 20pt;
            font-family: "Roboto";
            font-style: normal
        }

        .c21 {
            color: #283592;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 24pt;
            font-family: "Roboto";
            font-style: normal
        }

        .c32 {
            color: #000000;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 16pt;
            font-family: "Roboto";
            font-style: normal
        }

        .c27 {
            color: #000000;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 16pt;
            font-family: "Oswald";
            font-style: normal
        }

        .c44 {
            padding-top: 0pt;
            padding-bottom: 12pt;
            line-height: 1.4;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c53 {
            padding-top: 24pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c40 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.4;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c10 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c25 {
            color: #666666;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Roboto";
            font-style: italic
        }

        .c13 {
            padding-top: 10pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c35 {
            padding-top: 40pt;
            padding-bottom: 0pt;
            line-height: 1.4;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c36 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c22 {
            background-color: #ffffff;
            position: absolute;
            top: 100vh;
            /*max-width: 468pt;*/
            padding: 54pt 72pt 54pt 72pt
        }

        .c41 {
            margin-left: 36pt;
            padding-left: 0pt
        }

        .c51 {
            font-size: 20pt;
            color: #6d64e8
        }

        .c4 {
            color: inherit;
            text-decoration: inherit
        }

        .c31 {
            padding: 0;
            margin: 0
        }

        .c47 {
            margin-left: 36pt;
            text-indent: 36pt
        }

        .c1 {
            font-weight: 700
        }

        .c19 {
            margin-left: -0.8pt
        }

        .c49 {
            font-size: 18pt
        }

        .c17 {
            font-weight: 400
        }

        .c14 {
            height: 11pt
        }

        .c48 {
            height: 12pt
        }

        .c30 {
            font-style: italic
        }

        .title {
            padding-top: 20pt;
            color: #283592;
            font-size: 34pt;
            padding-bottom: 0pt;
            font-family: "Roboto";
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 10pt;
            color: #e01b84;
            font-size: 11pt;
            padding-bottom: 0pt;
            font-family: "Roboto";
            line-height: 1.4;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #666666;
            font-size: 11pt;
            font-family: "Roboto"
        }

        p {
            margin: 0;
            color: #666666;
            font-size: 11pt;
            font-family: "Roboto"
        }

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 0pt;
            font-family: "Roboto";
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 16pt;
            color: #000000;
            font-size: 12pt;
            padding-bottom: 0pt;
            font-family: "Roboto";
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 10pt;
            color: #e01b84;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 0pt;
            font-family: "Roboto";
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 0pt;
            color: #6d64e8;
            font-weight: 700;
            font-size: 20pt;
            padding-bottom: 0pt;
            font-family: "Roboto";
            line-height: 1.4;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 8pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.4;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 8pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.4;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>



<div class="c22">
    <div style="width: 60%; margin: 0 auto;">
    <p class="c12"><span class="c50 c17"></span></p>
    <p class="c13 c47 title" id="h.yddvdixby0ot"><span class="c17 c28">Wide Area Network Service</span></p>
    <p class="c14 c52"><span class="c17 c50"></span></p>
    <h2 class="c11" id="h.4ln4q8facorn"><span class="c27 c17">Francisco Elfers, </span></h2>
    <h2 class="c11" id="h.pzrgjxz1if2i"><span class="c17 c27">Lucia Zavaleta, </span></h2>
    <h2 class="c11" id="h.fza134nrp1f4"><span class="c27 c17">Alejo Ponce de Le&oacute;n, </span></h2>
    <h2 class="c11" id="h.1vmu1f8xnxr3"><span class="c27 c17">Martina Ramirez.</span></h2>
    <p class="c14 c46"><span class="c3"></span></p>
    <p class="c19 c29"><span class="c9">CP:1884 Berazategui (Buenos Aires)</span></p>
    <p class="c29 c19 c14"><span class="c9"></span></p>
    <p class="c29 c19"><span class="c9">wansservice@gmail.com<br></span></p>
    <h3 class="c13 c19" id="h.mgigbzzby4sz"><span class="c6 c1">Descripci&oacute;n del producto</span></h3>
    <p class="c0"><span>WANS (&ldquo;</span><span class="c30">Wide Area Network Service</span><span class="c3">&rdquo;) es un proyecto en desarrollo y crecimiento, cuyo sistema con el mismo nombre se enfoca en satisfacer las necesidades humanas de la actualidad: la automatizaci&oacute;n de servicios. </span></p>
    <p class="c0"><span class="c3">El sistema WANS cumple con la tarea de dar un espacio de trabajo a t&eacute;cnicos inform&aacute;ticos que puedan tener una comunicaci&oacute;n efectiva y constante con los clientes de la plataforma. Y, tambi&eacute;n, donde estos &uacute;ltimos puedan enviar una alerta con un pedido de asistencia t&eacute;cnica que, gracias a la din&aacute;mica de WANS, ser&aacute; respondida al instante o, ante cualquier defecto, a la brevedad.</span></p>
    <p class="c18 c14"><span class="c3"></span></p>
    <h3 class="c13 c19" id="h.6tyn459dfpdk"><span class="c6 c1">Tipos de usuarios</span></h3>
    <p class="c0"><span class="c3">En la plataforma del sistema WANS, se detallan dos tipos de usuarios: clientes y t&eacute;cnicos.</span></p>
    <p class="c0"><span class="c3">Los clientes constituyen un grupo de uso directo del servicio, enviando una solicitud y recibiendo una respuesta a cambio, en la que se dar&aacute; soluci&oacute;n a su problema t&eacute;cnico inform&aacute;tico.</span></p>
    <p class="c10"><span>Los t&eacute;cnicos forman un grupo m&aacute;s experimentado, cuyo objetivo ser&aacute; dar respuesta a esas peticiones. Su rol en la plataforma ser&aacute; diferente y contar&aacute; para ellos como una alternativa laboral sustentable. Asimismo, deben cumplir con requisitos como lo es el conocimiento sobre los dispositivos inform&aacute;ticos, en funci&oacute;n de tener la capacidad para resolver los trabajos en los que debe brindar servicio al cliente.</span></p>
    <h1 class="c53" id="h.m2y3zmnmv8g4"><span>C</span><span>lientes</span></h1>
    <h3 class="c13 c19" id="h.gllpwaha0xe"><span class="c6 c1">Objetivos</span></h3>
    <p class="c0"><span class="c3">El objetivo de este sector se conforma del accionar de ellos al solicitar ayuda desde la plataforma WANS. Usted al ingresar como cliente dentro de ella, ser&aacute; habilitado para pedir ayuda tanto remota como a domicilio, dependiendo de la gravedad de su problema. La idea principal es ser socorrido de la manera m&aacute;s &oacute;ptima y pr&oacute;xima.</span></p>
    <p class="c0"><span class="c3">La plataforma le ofrecer&aacute; las comodidades de poder registrarse como cliente y la facilitaci&oacute;n a la hora de hacer un pedido teniendo acceso al control de tiempo de espera, ubicaci&oacute;n del t&eacute;cnico y la posibilidad de elegir su m&eacute;todo de pago.</span></p>
    <h3 class="c13 c19" id="h.bmx69k93o6dp"><span class="c6 c1">Requerimientos</span></h3>
    <p class="c0"><span class="c3">El &uacute;nico requisito que deber&aacute; contar nuestro cliente es poseer alg&uacute;n dispositivo con acceso a Internet.</span></p>
    <h3 class="c13 c19" id="h.htroo5d47yd6"><span class="c6 c1">T&eacute;rminos y condiciones</span></h3>
    <p class="c0"><span class="c3">Los siguientes t&eacute;rminos y condiciones constituyen en un contrato al cual accede a los acuerdos que WANS ofrece. Los presentes T&eacute;rminos y Condiciones se considerar&aacute;n aceptados al momento que el usuario cliente cree una cuenta o utilice los servicios de WANS.</span></p>
    <p class="c44"><span class="c3">Al momento de la inscripci&oacute;n , el usuario asume el compromiso y la responsabilidad de:</span></p>
    <ul class="c31 lst-kix_3cm5343jz4qt-0 start">
        <li class="c24"><span class="c3">No proporcionar informaci&oacute;n personal falsa ni crear cuentas a nombre de terceros.</span></li>
        <li class="c24"><span class="c3">No crear m&aacute;s de una cuenta personal.</span></li>
    </ul>
    <p class="c0"><span class="c3">La ubicaci&oacute;n del cliente se definir&aacute; individualmente por cada pedido. Est&aacute; se almacenar&aacute; en la base de datos al momento de solicitar un pedido y durante la soluci&oacute;n de este hasta que se haya finalizado la tarea.</span></p>
    <p class="c0"><span>La seguridad del cliente ser&aacute; garantizada. Las cuentas de usuarios cliente y sus claves ser&aacute;n personales, confidenciales e intransferibles, quedando terminantemente prohibido su divulgaci&oacute;n a terceros por otros usuarios. Ante la circunstancia de que un usuario sospeche y/o llegase a saber sobre una vulnerabilizaci&oacute;n en su clave, deber&aacute; cambiarla de inmediato.<br></span>
    <p class="c0"><span class="c32 c17">T&eacute;cnicos</span></p>
    <h3 class="c13 c19" id="h.r03bpfq4m2nr"><span class="c6 c1">Objetivos</span></h3>
    <p class="c0"><span class="c3">El objetivo de este grupo comprende las acciones de recibir solicitudes de asistencia de los clientes y resolverlas. Si usted es aceptado como t&eacute;cnico dentro de la plataforma WANS, recibir&aacute; alertas con informaci&oacute;n sobre estos &ldquo;trabajos&rdquo;, dependiendo de su ubicaci&oacute;n y horario en que determine que participar&aacute; activamente en el sistema. Usted puede tanto aceptar las solicitudes como pasar de alto de ellas. Sin embargo, debe tener en cuenta que la prioridad con que se le permita acceder a las mismas, y no perder un trabajo porque otro t&eacute;cnico lo acept&oacute; al mismo tiempo, y con la premura con que &rdquo;le lleguen las solicitudes&rdquo;, entre otros aspectos de la din&aacute;mica de WANS, depender&aacute; enteramente de la puntuaci&oacute;n promediada por todas las puntuaciones obtenidas por los clientes, la cual estos dar&aacute;n una vez el servicio haya finalizado. </span></p>
    <p class="c0"><span class="c3">Por otro lado, se informa que el objetivo de WANS para con este grupo consiste en brindarles una interfaz y un sistema mediante el que el t&eacute;cnico pueda acceder con mayor facilidad y simpleza al marco laboral-mercado. Se plantea una plataforma que les posibilite trabajar activamente y sin inconvenientes (desconocimiento, falta de divulgaci&oacute;n de sus servicios, desinformaci&oacute;n acerca del funcionamiento del mercado de servicios, entre otros). Se pretende facilitar la manera en que brindan servicio t&eacute;cnico inform&aacute;tico y &ldquo;capturar en su nombre&rdquo; a los clientes.</span></p>
    <h3 class="c13 c19" id="h.6iemlsc8ppl6"><span class="c1 c6">Perfil</span></h3>
    <p class="c0"><span class="c3">Un t&eacute;cnico dentro de WANS debe ser prudente, eficaz y responsable. Adem&aacute;s, contar con los conocimientos que sugiere su t&iacute;tulo, por lo que debe poder solucionar problem&aacute;ticas en el marco inform&aacute;tico y, de no ser as&iacute;, instruirse adecuadamente y buscar soluciones. Se le exige inter&eacute;s en su desempe&ntilde;o, aprendizaje, crecimiento, superaci&oacute;n de objetivos, capacidades, competitividad, trato y tacto con el cliente, cumplimiento, higiene y presentaci&oacute;n adecuada, y optimizaci&oacute;n de recursos, especialmente el tiempo. </span></p>
    <p class="c0"><span>Queda usted debidamente informado de lo siguiente: dependiendo del promedio de puntuaciones obtenido, podr&aacute; continuar o no en la plataforma. Por ello, se espera un desempe&ntilde;o global adecuado a las condiciones y los requisitos de WANS.</span></p>
    <h3 class="c13 c19" id="h.99t4mdwxmqks"><span class="c6 c1">Requerimientos</span></h3>
    <p class="c0"><span class="c3">PC estándar o dispositivo que pueda reemplazarla, placa de red, sistema compatible con el protocolo ssh y conexión a la red de internet; Conocimientos técnicos básicos y de fuentes confiables de información. Los mismos serán determinados por su título y experiencia que deben señalarse y garantizarse en la entrega del currículum vitae.</span></p>
    <h3 class="c13 c19" id="h.fyuos3yvba2s"><span class="c6 c1">Ingreso al sistema</span></h3>
    <h5 class="c38 c19" id="h.o62o5apudnq1"><span class="c2">Registro e inicio de sesi&oacute;n.</span></h5>
    <p class="c0"><span>En cuanto al registro y el inicio de sesi&oacute;n, tanto un t&eacute;cnico como un cliente requieren un logueo standar. Es decir, ingresar&aacute;n al sistema de la misma forma. </span><span class="c30">Revisar el ingreso al sistema planteado para los clientes.</span></p>
    <h3 class="c13 c19" id="h.qfg1jgym0ezr"><span class="c6 c1">Enviar curr&iacute;culum</span></h3>
    <p class="c0"><span class="c3">Este es el punto de diferencia entre ser un cliente o convertirse en t&eacute;cnico.</span></p>
    <p class="c0"><span>Si usted desea unirse a la red de servicio t&eacute;cnico inform&aacute;tico de WANS, debe enviar un curr&iacute;culum. Para ello, en la esquina superior derecha de la pantalla principal, en el men&uacute;, puede encontrar el bot&oacute;n &ldquo;</span><span class="c30">&iquest;Buscas trabajo?</span><span class="c3">&rdquo;. </span></p>
    <p class="c0"><span class="c3">La confirmaci&oacute;n puede tardar un plazo de una semana. Entonces, acceder&aacute; a las funciones, los privilegios y los permisos de un t&eacute;cnico en la plataforma WANS.</span></p>
    <p class="c0 c14"><span class="c3"></span></p>
    <h3 class="c13 c19" id="h.uuocyec4l0yj"><span class="c6 c1">Recibir y aceptar pedido</span></h3>
    <p class="c0"><span class="c3">Puede visualizar las solicitudes recibidas en la pesta&ntilde;a &ldquo;Lista&rdquo; que surgir&aacute; en su pantalla una vez su solicitud para unirse al equipo t&eacute;cnico de WANS sea analizada, corroborada y aceptada, de ser &iacute;ntegros los datos que usted hubiera brindado.</span></p>
    <p class="c0"><span class="c3">Si desea aceptar el trabajo, debe clickear en &ldquo;completar&rdquo; al final de la solicitud a la que haya elegido responder. Entonces, recibir&aacute; los datos correspondientes y comenzar&aacute; el conteo del tiempo desde el mismo instante hasta en que el trabajo finalice, as&iacute; como la supervisi&oacute;n de este.</span></p>
    <p class="c0"><span class="c3">Una vez aceptado el trabajo, usted debe movilizarse hasta el domicilio del cliente que solicita el servicio. Debe tener completa conciencia de la responsabilidad que significa el trato con el mismo, tanto as&iacute; como la puntualidad, la correcta presentaci&oacute;n, el respeto y otras buenas pr&aacute;cticas que ser&aacute;n evaluadas por el cliente final de su servicio. Desde su administraci&oacute;n, la plataforma WANS posee un sistema de seguridad mediante el que esto ser&aacute; controlado, adem&aacute;s de un sistema de puntuaciones determinada por el cliente cuyo objetivo radica en elevar o disminuir la prioridad con la que usted disponga de los pedidos que surjan. &nbsp;</span></p>
    <h3 class="c13 c19" id="h.r2przl6uehq7"><span class="c6 c1">Puntuaciones y comentarios</span></h3>
    <h5 class="c38 c19" id="h.p3eqc3bzu534"><span class="c2">Puntuaciones</span></h5>
    <p class="c0"><span class="c3">Se habla de puntuaciones al tratar sobre las valoraciones tanteadas de los clientes, emitidas por ellos al momento del cumplimiento del trabajo en respuesta a su solicitud. Las mismas evaluar&aacute;n el trato con el cliente del t&eacute;cnico y reforzar&aacute;n el incentivo de buena presencia y costumbres laborales. </span></p>
    <p class="c0"><span class="c3">Las puntuaciones determinar&aacute;n, dentro del sistema, la prioridad con la que los t&eacute;cnicos puedan acceder a las solicitudes de los clientes y tomar el trabajo. Adem&aacute;s, poseer&aacute; beneficios tales como:</span></p>
    <ul class="c31 lst-kix_6ju7bwupoehe-0 start">
        <li class="c20 c41"><span class="c3">Amplitud de zona de trabajo</span></li>
        <li class="c20 c41"><span class="c3">Aumento de porcentaje de pago en un 5%</span></li>
    </ul>
    <p class="c20"><span class="c3">Usted puede visualizar su puntuaci&oacute;n actual en la pesta&ntilde;a correspondiente a su perfil en la interfaz. Se trata de un promedio de todas las valoraciones obtenidas, medidas del 1 al 5.</span></p>
    <h5 class="c38" id="h.spe50nc3oxp0"><span class="c2">Comentarios</span></h5>
    <p class="c20"><span class="c3">As&iacute; como el cliente cuenta con la posibilidad de otorgar una puntuaci&oacute;n al t&eacute;cnico que lo asisti&oacute;, este &uacute;ltimo brinda un comentario competente relativo a su cliente. De esta forma, se imita el incentivo en cuanto a las buenas pr&aacute;cticas de quien solicita el servicio t&eacute;cnico, favoreciendo a la integridad del funcionamiento del sistema y el buen ambiente de trabajo.</span></p>
    <p class="c20"><span class="c3">Usted poseer&aacute; la opci&oacute;n de adherir un comentario al perfil del cliente una vez haya concluido su situaci&oacute;n de trabajo. Los comentarios se ir&aacute;n acumulado en el perfil del cliente, por lo que al recibir su solicitud usted podr&aacute; corroborar el car&aacute;cter de su &ldquo;contratador&rdquo;.</span></p>
    <h3 class="c13 c19" id="h.69wjzd1m9lp4"><span class="c6 c1">Sistema de pago</span></h3>
    <p class="c0"><span class="c3">Una vez finalizada la resoluci&oacute;n de la solicitud del cliente, este &uacute;ltimo emitir&aacute; un pago mediante cuenta bancaria/tarjeta/similar hacia las cuentas privadas de WANS. Es deber de la misma plataforma informar sobre el monto final a cobrarse, as&iacute; como su corroboraci&oacute;n. Finalmente, el t&eacute;cnico recibir&aacute; su porcentaje del dinero cuando el pago haya sido registrado por WANS, el cual ser&aacute; depositado en su cuenta bancaria.</span></p>
    <p class="c0"><span class="c3">Inicialmente, a los t&eacute;cnicos del corresponde un 30% de la ganancia. De contar el mismo con una puntuaci&oacute;n elevada durante el trayecto de su experiencia laboral, este porcentaje se incrementar&aacute; en un 5% su valor.</span></p>
    <h3 class="c13 c19 c48" id="h.e6a64atynwug"><span class="c6 c1"></span></h3>
    <p class="c20 c14"><span class="c3"></span></p>
    <p class="c14 c20"><span class="c3"></span></p>
    <p class="c20 c14"><span class="c3"></span></p>
    <p class="c20 c14"><span class="c3"></span></p>
    <p class="c8"><span class="c25 c17">Francisco Elfers</span></p>
    <p class="c8"><span class="c25 c17">Lucia Zavaleta</span></p>
    <p class="c8"><span class="c25 c17">Alejo Ponce de Le&oacute;n</span></p>
    <p class="c8"><span class="c25 c17">Martina Ramirez</span></p>
    <p class="c8"><span class="c17 c25">Berazategui, 28 de octubre del 2019</span></p>
    <p class="c0 c14"><span class="c3"></span></p>
    </div>
</div>
