{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>WANS</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,600&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,600&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
	<meta charset="utf-8">
</head>
<body>

	<nav>
		<b>{{ user.username }}</b>
		<a href="{% url 'inicio' %}">Inicio</a>
		<a href="#">¿Buscas trabajo?</a>

		{% if user.is_authenticated %}
		<a href="{% url 'trabajos' %}">Lista</a>
		<a href="{% url 'logout' %}">Log out</a>
		{% else %}
		<a href="{% url 'login' %}" class="top-menu">Log in</a>
		<a href="{% url 'signup' %}" class="top-menu">Signup</a>
		{% endif %}

		<a href="{% url 'perfil' %}" class="profile">
			<img src="{% static 'images/foto.jpg' %}">
		</a>
	</nav>
	<span class="logo">WANS</span>
    {% block content %}
    {% endblock %}
</body>
</html>