{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>WANS</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,600&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
	<meta charset="utf-8">
</head>
<body>

	<nav>
		<ul>
            {% if user.is_authenticated %}
                <li class="user"><b>{{ user.username }}</b></li>
                <li><a href="{% url 'inicio' %}">Inicio</a></li>

                {% if user.is_superuser %}
			        <li><a href="/admin">Admin</a></li>
                    <li><a href="{% url 'revisar' %}">Revisar</a></li>
			    {% endif %}

                {% for group in user.groups.all %}
                    {% if group.name == 'Tecnicos' %}
                        <li><a href="{% url 'trabajos' %}">Lista</a></li>
                    {% else %}
                        <li><a href="{% url 'new_tecnico' %}">¿Buscas trabajo?</a></li>
                    {% endif %}
                {% endfor %}

                <li><a href="{% url 'logout' %}">Log out</a></li>

            {% else %}
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="{% url 'login' %}">¿Buscas trabajo?</a></li>
                <li><a href="{% url 'login' %}">Log in</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
            {% endif %}

			<li class="profile">
				<a class="profile-link" href="{% if user.is_authenticated %}{% url 'perfil' %}{% else %}{% url 'login' %}{% endif %}">
					<img src="{% static 'images/foto.png' %}">
				</a>
			</li>
		</ul>
	</nav>
	<span class="logo">WANS</span>
    {% block content %}
    {% endblock %}
</body>
</html>