{% extends 'wans/nav_base.html' %}
{% load static %}
{% block content %}
    <form action='{% url 'revisar' %}' method='GET'>
        {% if user.groups.all|length == 2 %}
            {% for group in user.groups.all %}
                {% if group.name == 'A revisar' %}
                    <span>Currículum enviado</span>
                {% endif %}
            {% endfor %}
        {% else %}
            {% csrf_token %}
            {{ form.as_p }}
            <button type='submit'>Enviar curriculum</button>
        {% endif %}
    </form>
{% endblock %}