{% extends 'wans/nav_base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pedido.css' %}">

    <!-- Geocoding -->
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.3.1/dist/esri-leaflet.js"
    integrity="sha512-Np+ry4Dro5siJ1HZ0hTwn2jsmu/hMNrYw1EIK9EjsEVbDge4AaQhjeTGRg2ispHg7ZgDMVrSDjNrzH/kAO9Law=="
    crossorigin=""></script>

<!-- Load Esri Leaflet Geocoder from CDN -->
<link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.1/dist/esri-leaflet-geocoder.css"
integrity="sha512-v5YmWLm8KqAAmg5808pETiccEohtt8rPVMGQ1jA6jqkWVydV5Cuz3nJ9fQ7ittSxvuqsvI9RSGfVoKPaAJZ/AQ=="
crossorigin="">
<script src="https://unpkg.com/esri-leaflet-geocoder@2.3.1/dist/esri-leaflet-geocoder.js"
integrity="sha512-YUgyCwPXzSCFuYgNIsumhktAolzwxETPBwc+xAgJOW7B3/1r1EKf0WYpmNo+6a/9C/EAF9RxYnMynEmd+77fTA=="
crossorigin=""></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pedido.css' %}">

    <section>
        <h1>Haz tu pedido</h1>
        <div class="pag">
            <div></div>
            <div></div>
            <div></div>
            <div class="index"></div>
        </div>

        <div id="pag1" class="pregunta lista">
            <div class="izq">
                <div>¿Su computadora enciende?<input type="checkbox" id="1"></div>
                <div>¿Muestra algo en la pantalla?<input type="checkbox" id="2"></div>
                <div>¿Se reinicia sola?<input type="checkbox" id="3"></div>
                <div>¿Es un problema de lentitud?<input type="checkbox" id="4"></div>
                <div>¿Es un problema en la impresión?<input type="checkbox" id="5"></div>
                <div>¿Tiene conexión a internet?<input type="checkbox" id="6"></div>
            </div>
            <div class="der">
                <div>¿El problema es en algún programa de Office?<input type="checkbox" id="7"></div>
                <div>¿Tiene problemas para instalar algún programa?<input type="checkbox" id="8"></div>
                <div>¿Se tilda?<input type="checkbox" id="9"></div>
                <div>¿Tiene problemas para conectar dispositivos?<input type="checkbox" id="10"></div>
                <div>¿Considera que tiene virus en la pc?<input type="checkbox" id="11"></div>
                <div>¿Su pc ya fue revisada por un técnico anteriormente?<input type="checkbox" id="12"></div>
            </div>
        </div>

        <div id="pag2" class="pregunta">
            <div class="mapinfo">
                <h2>Ubicación</h2>
                <p>Para buscar su ubicacion, ponga en el buscador a la izquierda su calle, el numero y el codigo postal.</p>
                <br>
                <p>Al escribir su direccion como especificado, aparecerán coincidencias y tendrá que seleccionar la opcion correcta.</p>
                <br><br>
                <b class="resultado"></b>
                <p>Si esta es su dirección, continúe.</p>
            </div>
            <div id="map"></div>
        </div>

        <div id="pag3" class="pregunta">
            <p>Usuario: {{ cliente }}</p>
            <p id="dir"></p>
            <span class="dificultad hide"></span>
            <form method="POST">
                {% csrf_token %}
                <p>Breve descripcion: {{ form.presentacion }}</p>
                <p class="hide">{{ form.latitud }}</p>
                <p class="hide">{{ form.longitud }}</p>
                <p class="hide">{{ form.ubicacion }}</p>
                <p class="hide dificultad">{{ form.dificultad }}</p>

                <button class="subir" type="submit">Subir</button>
            </form>
        </div>

        <button onclick="pasarPagina(false)" class="prev">Anterior</button>
        <button onclick="pasarPagina(true)" class="next">Siguiente</button>
        <span class="error"></span>
    </section>
    <script>
        var activa = 0;
        var posbarra= 33.3;
        $(document).ready(function(){
            pasarPagina(true);
            $('.hide').hide();
            $('#pag1').css({padding:'15px 15px',height:'300px'});
        });

        var pasarPagina = function(sentido){
            $('.prev, .next').hide();
            $('.error').text('');

            if(calcularDiferencia(12) || activa === 0){
                // contenido
                $('#pag1, #pag2, #pag3').css({padding:'0px 15px',height:'0px'});
                sentido ? activa += 1 : activa -= 1;
                $('#pag' + activa).css({padding:'15px 15px',height:'300px'});

                // barra
                var valor = (activa - 1) * posbarra + '%';
                $('.index').css('left',valor);
            } else if (activa > 0) {
                $('.error').text('Selecciona al menos una opción');
            }
            if (activa > 1){$('.prev').show()}
            if (activa < 3){$('.next').show()}
            calcularDiferencia(12); // 12 preguntas
        };

        var calcularDiferencia = function(from){
            var lista = [];
            var resultado = 0;

            for (var i = 1; i < from +1; i++){
                var bool = $('input#' +i).is(':checked');
                if(bool){
                    resultado++
                }
            }

            // Rango de dificultad
            var xMax = 5;
            var xMin = 1;

            // Rango de preguntas
            var yMax = from;
            var yMin = 0;

            var percent = (resultado - yMin) / (yMax - yMin);
            var dificultad = percent * (xMax - xMin) + xMin;

            $('.dificultad').find('input').val(dificultad);
            console.log('activa ' +activa);
            return (resultado > 0);
        };

        /* MAPA */

        var map = L.map('map').setView([-34.78, -58.20], 14);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);

        var searchControl = L.esri.Geocoding.geosearch().addTo(map);
        var geocodeService = L.esri.Geocoding.geocodeService();

        var results = L.layerGroup().addTo(map);

        searchControl.on('results', function (data) {
            $('.resultado').text(data.text);
            $('#dir').text('Dirección: ' + data.text);
            var presentacion = $('.presentacion').val();
            $('#id_presentacion').val(presentacion);
            $("#id_ubicacion").val(data.text);
            $("#id_latitud").val(data.latlng.lat);
            $("#id_longitud").val(data.latlng.lng);
            results.clearLayers();
            for (var i = data.results.length - 1; i >= 0; i--) {
              results.addLayer(L.marker(data.results[i].latlng));
            }
        });

        map.on('click', function (e) {
            geocodeService.reverse().latlng(e.latlng).run(function (error, result) {
                if (error) {
                    return;
                }
                L.marker(result.latlng).addTo(map).bindPopup(result.address.Match_addr).openPopup();
            });
        });
    </script>
{% endblock %}
