body {
	margin: 0;
	background: url('/static/images/login.png');
}

.logo {
	font-size: 6em;
	font-family: Raleway;
	color: #FFF;
}

.centro {
	width: 912px;
	margin: 0 auto;
}

.left {
    width: 470px;
	float: left;
}

.left a, .left p {
	float: right;
	margin: 0;
	font-family: Montserrat;
}

.left p {
	text-align: right;
	max-width: 530px;
	font-size: 2.5em;
	margin-top: 70px;
	margin-bottom: 30px;
}

.left a {
	font-size: 2em;
	color: #FFF;
	text-decoration: none;
	background: #659bff;
	padding: 15px;
	border-radius: 15px;
	box-shadow: 5px 8px 12px #888;

}

.centro img {
	margin-left: 50px;
}

/* TABLA */

table {
	margin: 4% auto;
	background: white;
	padding: 3px;
	width: 60%;
	border-collapse: collapse;
	font-family: Montserrat;
}

thead {
	background: #659bff;
	font-weight: 700;
}

td {padding: 10px;}
tr {transition:background-color .2s;}

tr:hover:not(.header) {
	background-color: lightgrey;
	cursor: pointer;
}

/* NAV BAR */

nav {
	float: right;
	background: #659bff;
	border-radius: 0 0 0 30px;
}

nav ul {
    list-style-type: none;
	margin: 0;
}

nav li {
    float:left;
    text-align: center;
    transition: background .5s;
}

nav li:not(.profile):not(.user):hover {
	background: #4c8bff;
}


nav a:not(.profile-link), nav b {
	display:block;
	padding: 15px 8px;
	color: #fff;
	text-decoration: none;
	font-family: Montserrat;
}



nav img {
	max-height: 40px;
	border-radius: 50%;
}

.profile a {
	padding: 10px;
}
