body {
	background: url('../images/login.png');
	font-family: Montserrat;
}

.contenedor {
	background: white;
	padding: 10px;
	width: 400px;
	border-radius: 15px;
	box-shadow: 4px 4px 10px #888888;
}

h1 {
	text-align: center;
	font-family: Montserrat;
	font-size: 60px;
	color: #3a3a3a;
}

span input, .input {
	width: 300px;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	background: lightgrey;
}

.fa {
	color: #a2a2a2;
	margin-top: 2px;
	font-size: 22px;
	display: inline-block;
	float: right;
	width: 30px;
	height: 24px;
}

span input {
	padding: 5px;
	margin-top: 4px;
}
#id_password1, #id_password2 {
	display: inline-block;
	font-size: 32px;
	margin-top: 0;
	height: 14px;
	width: 85%;
}
#id_password2 {
	height: 20px;
	width: 100%;
}
span {margin-left: 40px;}
span, span input, p{
	display: block;
	outline: none;
}

.iniciar {
  	display: inline-block;
	padding: 6px;
	margin: 0 20px 20px;
	border: none;
	border-radius: 5px;
	outline: none;
	transition: background-image;
}

input.iniciar {
	font-size: 25px;
	margin: 20px 40px;
	width: 310px;
	font-weight: 500;
	height: 40px;
	background: linear-gradient(to bottom right, #b3f1ff, #78ceff);
	color: black;
	transition: color .5s;
}

a.iniciar {
	text-decoration: none;
	font-weight: 700;
}

.iniciar:hover {
	color: #666;
}

.error {
	color: red;
	font-style: italic;
}
