section {
	margin: 50px auto;
	background: white;
	width: 80%;
	transition: height .5s;
}

body {
    font-family: Montserrat;
	margin:0; padding:0;
}

section h1 {padding: 10px;}
.pag {padding: 0 auto;margin: 5px 15px;}

.pag div:not(.index) {
	display: inline-block;
	margin: 5px auto;
	height: 4px;
	width: 33%;
	background: lightgrey;
	border-radius: 2px;
}

.index {
	display: inline-block;
	margin: 5px auto;
	height: 5px;
	width: 33%;
	border-radius: 2px;
	background: yellow;
	position: relative;
	top: -18px;
	left: 1px;
	transition: left .5s;
}

.pregunta {
	margin: 15px;
	padding: 0px;
	height: 0px;
	background: #eee;
	overflow: hidden;
	transition: height .5s, padding .5s;
}

.pregunta p {margin: 0;}

.mapinfo>p {
	width: 70%;
}

.pregunta button {
	padding: 15px;
	background: white;
	border: none;
	border-radius: 5px;
	transition: background-color .5s;
}

.pregunta button:hover {background-color: #ffd8bc}

.confirmar {
	padding: 3px;
}
.confirmar:hover {
	background: lightblue;
}

.mapinfo {
	display: inline-block;
	width: 50%;
}

#map {
	position: relative;
	float: right;
	top:0;
	bottom:0;
	right:0;
	left:0;
	width: 50%;
	height: 300px;
}

.prev, .next {
	margin: 10px;
	background: #a2c3ff;
	border: none;
	padding: 6px;
	border-radius: 5px
}

/* Primera pagina */

.lista > div {
	display: inline-block;
	width: 49%;
}

.lista .der {
	float: right;
}

.lista > div > div {
	margin-bottom: 10px;
	padding: 10px;
	background: white;
}

input[type='checkbox'] {
	float: right;
}

.error {
	color: red;
	font-style: italic;
}